<section>
    <div class="listen">
        <div>
            <img src="https://static.wixstatic.com/media/82fcd3_7b50ff02a3dd411fac2e6ced36f2aed0~mv2.png/v1/fill/w_660,h_360,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Model_Strip_Single.png" alt="fone de ouvido" class="listenImg" />
        </div>

        <div class="listen__content">
            <h2>Ouça Música<br />com Estilo Único</h2>
            <p>Sou um parágrafo. Clique para editar o seu texto. É fácil! Basta clicar em "Editar Texto" ou clicar duas vezes para adicionar o seu conteúdo.</p>
            <a href="#">Pedir Agora</a>
        </div>
    </div>
</section>
