<footer>
    <nav>
        <div>
            <a href="#">PÁGINA INICIAL</a>
            <a href="#">BENEFÍCIOS</a>
            <a href="#">DESCONTO</a>
        </div>

        <div>
            <a href="#">ENVIO E RETORNO</a>
            <a href="#">POLÍTICA DA LOJA</a>
            <a href="#">FORMAS DE PAGAMENTO</a>
            <a href="#">FAQ</a>
        </div>

        <div>
            <a href="#">INSTAGRAM</a>
            <a href="#">YOUTUBE</a>
            <a href="#">TWITTER</a>
        </div>
        
    </nav>

    <div>
        <span>&copy; 2024 por TIMBREHITIS</span>
        <span>Desenvolvido por <strong>Deivid Barreto</strong></span>
    </div>
</footer>