<main>
    <header>
        <section class="header-left">
            <div>
                <div class="header-left__menu" (click)="hendleMenu()">
                    <ng-icon name="matMenu" class="matMenu"></ng-icon>
                </div>
                <div class="header-left__headset">
                    <ng-icon name="matHeadsetOutline"></ng-icon>
                </div>
                <h1>Timbrehits</h1>
            </div>

            <nav class="navegation">
                <a href="#">Página Inicial</a>
                <a href="#">Benefícios</a>
                <a href="#">Depoimentos</a>
            </nav>
        </section>

        <section class="header-right">
            <a href="#" class="header-right__login">
                <ng-icon name="heroUserCircleSolid"></ng-icon>
                Login
            </a>

            <a href="#" class="btn">Pedir Agora</a>
            <div class="header-right__networks">
                <ng-icon name="bootstrapInstagram"></ng-icon>
                <ng-icon name="bootstrapYoutube"></ng-icon>
                <ng-icon name="bootstrapTwitter"></ng-icon>
                <ng-icon name="bootstrapBagPlusFill"></ng-icon>
            </div>
        </section>
    </header>

    <section class="banner">
        <h3>Timbrehits ADR - 3083</h3>
        <h2>Reinventando a Música Perfeita</h2>
        <a href="#">Pedir Agora</a>
    </section>
</main>

<nav class="navegation-mobile" appHendleMenu [valueMenu]="menu">
    <a href="#">
        <ng-icon name="heroUserCircleSolid"></ng-icon>
        Login
    </a>
    <a href="#">Página Inicial</a>
    <a href="#">Benefícios</a>
    <a href="#">Depoimentos</a>
</nav>