<section>
    <div class="benefits">
        <hr class="line" />
        <div class="benifits-box">
            <h3 class="benefits__title">Som de Alta <br>Qualidade</h3>
            <p class="benefits__text">Sou um parágrafo. Clique aqui para editar o texto. Conte aos seus usuários sobre você.</p>
        </div>

        <hr class="line" />
        <div>
            <h3>Sem Fio e <br>Sem Complicações</h3>
            <p>Sou um parágrafo. Clique aqui para editar o texto. Conte aos seus usuários sobre você.</p>
        </div>

        <hr class="line" />
        <div>
            <h3>Bateria com <br>Vida Longa</h3>
            <p>Sou um parágrafo. Clique aqui para editar o texto. Conte aos seus usuários sobre você.</p>
        </div>
        
        <hr class="line" />
        <div>
            <h3>Design Moderno e <br>Elegante</h3>
            <p>Sou um parágrafo. Clique aqui para editar o texto. Conte aos seus usuários sobre você.</p>
        </div>
        <hr class="line" />
    </div>
</section>
